workflows/Check To Do on Notion and send message on Slack.json
{
  "active": false,
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Get To Dos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get To Dos": {
      "main": [
        [
          {
            "node": "If task assigned to Harshil?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a Direct Message": {
      "main": [
        [
          {
            "node": "Send a Direct Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If task assigned to Harshil?": {
      "main": [
        [
          {
            "node": "Create a Direct Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-12T13:53:04.629Z",
  "id": "72yprDSp9MmOuhzw",
  "meta": {
    "templateId": "1105",
    "templateCredsSetupCompleted": true
  },
  "name": "Check To Do on Notion and send message on Slack",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 8
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "191f49eb-62e6-4768-b2d6-e0e0fc163f6b"
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1030,
        340
      ],
      "typeVersion": 1,
      "id": "0af8013c-7c84-410c-9aa7-598ec54a2485"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "e73ffbf4e381476f94fd9fe3467d1887",
          "mode": "id"
        },
        "returnAll": true
      },
      "name": "Get To Dos",
      "type": "n8n-nodes-base.notion",
      "position": [
        580,
        240
      ],
      "typeVersion": 1,
      "id": "38883c09-08f3-4166-a336-289a580d526a",
      "credentials": {
        "notionApi": {
          "id": "8XXe2PHYHrcjE0vd",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"to_do\"][\"text\"][1][\"mention\"][\"user\"][\"name\"]}}",
              "value2": "NAME"
            }
          ],
          "boolean": [
            {
              "value1": "={{$json[\"to_do\"][\"checked\"]}}"
            }
          ]
        }
      },
      "name": "If task assigned to Harshil?",
      "type": "n8n-nodes-base.if",
      "position": [
        780,
        240
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "id": "f047dfc5-931d-419f-9369-8fe8532630ae",
      "notes": "Check if the task is incomplete"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "channel",
        "operation": "open",
        "options": {
          "users": []
        }
      },
      "name": "Create a Direct Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        1020,
        140
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "id": "f61f3a71-b6fe-4912-9007-04a248e993e2",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ANtR2NjhRigogw6t",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "={{$json[\"id\"]}}",
        "text": "# TO DO",
        "otherOptions": {
          "mrkdwn": true
        },
        "attachments": [
          {
            "title": "=☑️ {{$node[\"If task assigned to Harshil?\"].json[\"to_do\"][\"text\"][0][\"text\"][\"content\"]}}"
          }
        ]
      },
      "name": "Send a Direct Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        1230,
        140
      ],
      "typeVersion": 1,
      "id": "c1e3f2e1-8371-4446-8119-f74292ae862f",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ANtR2NjhRigogw6t",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-12T14:29:36.050Z",
  "versionId": "d1f789e2-a6c1-4bb3-abcc-67c092bece1d"
}