workflows/My workflow.json
{
  "active": false,
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-17T14:13:01.477Z",
  "id": "qhd075yP0Zv1knXf",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "mihaelabalas84",
          "mode": "list",
          "cachedResultName": "mihaelabalas84",
          "cachedResultUrl": "https://github.com/mihaelabalas84"
        },
        "repository": {
          "__rl": true,
          "value": "helm-test-repo",
          "mode": "list",
          "cachedResultName": "helm-test-repo",
          "cachedResultUrl": "https://github.com/mihaelabalas84/helm-test-repo"
        },
        "events": [
          "star"
        ],
        "options": {}
      },
      "id": "8d5732dd-6382-4328-9fce-cfe56a6a2602",
      "name": "Github Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        500
      ],
      "webhookId": "d02a82f5-279f-4ac5-be4c-9c13902f4bbe",
      "credentials": {
        "githubApi": {
          "id": "0jIj3sNESNGoPi8j",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DES869GT",
          "mode": "list",
          "cachedResultName": "mihaela.balas"
        },
        "text": "=New star on repository: {{ $json.body.repository.name }} from user:  {{ $json.body.sender.login }}",
        "otherOptions": {}
      },
      "id": "2520a61a-86e6-4d26-91a0-255074f94819",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "ANtR2NjhRigogw6t",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "540d4bc7-ddda-4704-b326-feeed989790a",
              "leftValue": "={{ $json.headers['x-github-event'] }}",
              "rightValue": "star",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5f44acfd-acc8-4ea4-ac40-c863d4f62326",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        480
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DES869GT",
          "mode": "list",
          "cachedResultName": "mihaela.balas"
        },
        "text": "=New star on repository: {{ $json.body.repository.name }} from user:  {{ $json.body.sender.login }}",
        "otherOptions": {}
      },
      "id": "87a37d27-5a04-4aec-a024-21f2fe8c7bbe",
      "name": "Slack1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        480,
        640
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "ANtR2NjhRigogw6t",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {
    "Github Trigger": [
      {
        "json": {
          "body": {
            "action": "deleted",
            "starred_at": null,
            "repository": {
              "id": 710190404,
              "node_id": "R_kgDOKlSlRA",
              "name": "helm-test-repo",
              "full_name": "mihaelabalas84/helm-test-repo",
              "private": false,
              "owner": {
                "login": "mihaelabalas84",
                "id": 143788303,
                "node_id": "U_kgDOCJIJDw",
                "avatar_url": "https://avatars.githubusercontent.com/u/143788303?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/mihaelabalas84",
                "html_url": "https://github.com/mihaelabalas84",
                "followers_url": "https://api.github.com/users/mihaelabalas84/followers",
                "following_url": "https://api.github.com/users/mihaelabalas84/following{/other_user}",
                "gists_url": "https://api.github.com/users/mihaelabalas84/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/mihaelabalas84/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/mihaelabalas84/subscriptions",
                "organizations_url": "https://api.github.com/users/mihaelabalas84/orgs",
                "repos_url": "https://api.github.com/users/mihaelabalas84/repos",
                "events_url": "https://api.github.com/users/mihaelabalas84/events{/privacy}",
                "received_events_url": "https://api.github.com/users/mihaelabalas84/received_events",
                "type": "User",
                "site_admin": false
              },
              "html_url": "https://github.com/mihaelabalas84/helm-test-repo",
              "description": null,
              "fork": false,
              "url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo",
              "forks_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/forks",
              "keys_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/keys{/key_id}",
              "collaborators_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/collaborators{/collaborator}",
              "teams_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/teams",
              "hooks_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/hooks",
              "issue_events_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/issues/events{/number}",
              "events_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/events",
              "assignees_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/assignees{/user}",
              "branches_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/branches{/branch}",
              "tags_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/tags",
              "blobs_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/git/blobs{/sha}",
              "git_tags_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/git/tags{/sha}",
              "git_refs_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/git/refs{/sha}",
              "trees_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/git/trees{/sha}",
              "statuses_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/statuses/{sha}",
              "languages_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/languages",
              "stargazers_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/stargazers",
              "contributors_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/contributors",
              "subscribers_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/subscribers",
              "subscription_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/subscription",
              "commits_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/commits{/sha}",
              "git_commits_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/git/commits{/sha}",
              "comments_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/comments{/number}",
              "issue_comment_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/issues/comments{/number}",
              "contents_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/contents/{+path}",
              "compare_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/compare/{base}...{head}",
              "merges_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/merges",
              "archive_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/{archive_format}{/ref}",
              "downloads_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/downloads",
              "issues_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/issues{/number}",
              "pulls_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/pulls{/number}",
              "milestones_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/milestones{/number}",
              "notifications_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/notifications{?since,all,participating}",
              "labels_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/labels{/name}",
              "releases_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/releases{/id}",
              "deployments_url": "https://api.github.com/repos/mihaelabalas84/helm-test-repo/deployments",
              "created_at": "2023-10-26T07:48:24Z",
              "updated_at": "2024-01-11T15:23:53Z",
              "pushed_at": "2024-01-11T14:47:58Z",
              "git_url": "git://github.com/mihaelabalas84/helm-test-repo.git",
              "ssh_url": "git@github.com:mihaelabalas84/helm-test-repo.git",
              "clone_url": "https://github.com/mihaelabalas84/helm-test-repo.git",
              "svn_url": "https://github.com/mihaelabalas84/helm-test-repo",
              "homepage": null,
              "size": 12,
              "stargazers_count": 0,
              "watchers_count": 0,
              "language": null,
              "has_issues": true,
              "has_projects": true,
              "has_downloads": true,
              "has_wiki": true,
              "has_pages": true,
              "has_discussions": false,
              "forks_count": 0,
              "mirror_url": null,
              "archived": false,
              "disabled": false,
              "open_issues_count": 0,
              "license": null,
              "allow_forking": true,
              "is_template": false,
              "web_commit_signoff_required": false,
              "topics": [],
              "visibility": "public",
              "forks": 0,
              "open_issues": 0,
              "watchers": 0,
              "default_branch": "main"
            },
            "sender": {
              "login": "mihaelabalas84",
              "id": 143788303,
              "node_id": "U_kgDOCJIJDw",
              "avatar_url": "https://avatars.githubusercontent.com/u/143788303?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/mihaelabalas84",
              "html_url": "https://github.com/mihaelabalas84",
              "followers_url": "https://api.github.com/users/mihaelabalas84/followers",
              "following_url": "https://api.github.com/users/mihaelabalas84/following{/other_user}",
              "gists_url": "https://api.github.com/users/mihaelabalas84/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/mihaelabalas84/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/mihaelabalas84/subscriptions",
              "organizations_url": "https://api.github.com/users/mihaelabalas84/orgs",
              "repos_url": "https://api.github.com/users/mihaelabalas84/repos",
              "events_url": "https://api.github.com/users/mihaelabalas84/events{/privacy}",
              "received_events_url": "https://api.github.com/users/mihaelabalas84/received_events",
              "type": "User",
              "site_admin": false
            }
          },
          "headers": {
            "x-forwarded-for": "140.82.115.250",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "host": "n8n-sandbox.fm-tech.net",
            "x-amzn-trace-id": "Root=1-65a0080a-0ca69d21013e47174bae30e7",
            "content-length": "6435",
            "user-agent": "GitHub-Hookshot/ab855f2",
            "accept": "*/*",
            "content-type": "application/json",
            "x-github-delivery": "6dd8e250-b095-11ee-9657-b4981558af64",
            "x-github-event": "star",
            "x-github-hook-id": "454118069",
            "x-github-hook-installation-target-id": "710190404",
            "x-github-hook-installation-target-type": "repository"
          },
          "query": {}
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-17T14:13:01.477Z",
  "versionId": "495d78dd-4e34-4f6a-9b8c-0c920a5bd42b"
}