workflows/My workflow 4.json
{
  "active": false,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-12T07:21:37.719Z",
  "id": "YHduBzjhocD2GklR",
  "meta": null,
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n\titem.json.myNewField = \"Hello World\"\nreturn _input.all()"
      },
      "id": "9d4b475d-64a1-4efd-b74c-9ca3d6237f53",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        340
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DES869GT",
          "mode": "list",
          "cachedResultName": "mihaela.balas"
        },
        "text": "={{ $json.myNewField }}",
        "otherOptions": {}
      },
      "id": "948729fe-fbb7-46bc-bb34-171bc6b2cc47",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1160,
        340
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "Ys6jHartXWk0rRI3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "id": "5b1b1ea4-1989-4a8c-a894-dc5c96809227",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        780,
        340
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-12T07:38:00.780Z",
  "versionId": "12cb4989-042f-4fb6-a68f-7cfaaee8e997"
}