workflows/Write to slack when a start is given to a repository.json
{
  "active": true,
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2024-01-16T10:37:40.854Z",
  "id": "TnC0Vlj0QCAX039z",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Write to slack when a start is given to a repository",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "mihaelabalas84",
          "mode": "list",
          "cachedResultName": "mihaelabalas84",
          "cachedResultUrl": "https://github.com/mihaelabalas84"
        },
        "repository": {
          "__rl": true,
          "value": "helm-test-repo",
          "mode": "list",
          "cachedResultName": "helm-test-repo",
          "cachedResultUrl": "https://github.com/mihaelabalas84/helm-test-repo"
        },
        "events": [
          "star"
        ],
        "options": {}
      },
      "id": "ccc5db30-1a95-4453-8ba9-4abbe2d0f4c9",
      "name": "Github Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        500
      ],
      "webhookId": "d02a82f5-279f-4ac5-be4c-9c13902f4bbe",
      "credentials": {
        "githubOAuth2Api": {
          "id": "bMxKCMS5qrLXQLTU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DES869GT",
          "mode": "list",
          "cachedResultName": "mihaela.balas"
        },
        "text": "=New star on repository: {{ $json.body.repository.name }} from user:  {{ $json.body.sender.login }}\nreports N8N staging app",
        "otherOptions": {}
      },
      "id": "bad1f046-1d9c-4be7-9379-78234d3aaa86",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "X57xMBsE8s4a44kS",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "540d4bc7-ddda-4704-b326-feeed989790a",
              "leftValue": "={{ $json.headers['x-github-event'] }}",
              "rightValue": "star",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "911fa77d-c7f5-4bc2-a45d-5cffd4f8ca25",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        480
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Github Trigger": {
      "webhookId": 455014104,
      "webhookEvents": [
        "star"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-16T10:39:14.428Z",
  "versionId": "1335a78b-4284-4395-bf09-acc68743b1cd"
}