workflows/Write to slack when a start is given to a repository.json
{
  "active": true,
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-12T10:57:58.156Z",
  "id": "osOvzAcON2ebIQGY",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Write to slack when a start is given to a repository",
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "mihaelabalas84",
          "mode": "list",
          "cachedResultName": "mihaelabalas84",
          "cachedResultUrl": "https://github.com/mihaelabalas84"
        },
        "repository": {
          "__rl": true,
          "value": "helm-test-repo",
          "mode": "list",
          "cachedResultName": "helm-test-repo",
          "cachedResultUrl": "https://github.com/mihaelabalas84/helm-test-repo"
        },
        "events": [
          "star"
        ],
        "options": {}
      },
      "id": "d0e5c25d-c93d-4786-881b-3777389b4215",
      "name": "Github Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        500
      ],
      "webhookId": "d02a82f5-279f-4ac5-be4c-9c13902f4bbe",
      "credentials": {
        "githubApi": {
          "id": "0jIj3sNESNGoPi8j",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DES869GT",
          "mode": "list",
          "cachedResultName": "mihaela.balas"
        },
        "text": "=New star on repository: {{ $json.body.repository.name }} from user:  {{ $json.body.sender.login }}",
        "otherOptions": {}
      },
      "id": "6b08b267-fd50-4013-a4e1-49e6fbac79da",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "ANtR2NjhRigogw6t",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "540d4bc7-ddda-4704-b326-feeed989790a",
              "leftValue": "={{ $json.headers['x-github-event'] }}",
              "rightValue": "star",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6243a418-d8b4-4609-a85a-904a9df91695",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        480
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06DES869GT",
          "mode": "list",
          "cachedResultName": "mihaela.balas"
        },
        "text": "=New star on repository: {{ $json.body.repository.name }} from user:  {{ $json.body.sender.login }}",
        "otherOptions": {}
      },
      "id": "e08f7cba-1ca1-469e-91cf-b4af4dace24e",
      "name": "Slack1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        480,
        640
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "ANtR2NjhRigogw6t",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Github Trigger": {
      "webhookId": 455008315,
      "webhookEvents": [
        "star"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-16T09:58:24.612Z",
  "versionId": "c2b3ff7e-0782-419b-bf06-c60939a73960"
}